@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800&display=swap");

@import url("reset.css");
@import url("keyframes.css");

/* 
@import url("fonts.css"); */

body{
    font-family: "Epilogue", sans-serif;
    background-color: #28293E;
    position: relative;
}

.wrapper{
    min-block-size: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper > main{
    flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	margin-inline: auto; /* те що раніше margin:0 auto; для центрування. */
    padding-inline: 15px; /*1.25%*/ 
}


/* ----------Практика---------- */
.header{
    background-color: rgb(98, 98, 159);
    color: aliceblue;
    margin-block-end: 1.25%;
    padding: 1.25%;
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 100;
}

.header__menu{
    display: inline-block;
vertical-align: middle;
}

.header__list{
    display: inline-block;    
}

.header img{
    margin-inline-end: 15px;
    display: inline-block;
    vertical-align: middle;
}

.list-header{
    vertical-align: middle;
}

.list-header__item:not(:last-child){
margin-block-end: 5px;
}

.list-header__item a:visited{
    color: rgb(8, 8, 8);
    text-shadow:1px 1px 1px rgb(230, 189, 99);
}

.list-header__item:hover,
.homework__subtitle:hover{
color: rgb(230, 189, 99);
text-shadow: 1px 1px 1px rgb(8, 8, 8);
transition: all 0.5s ease;
}

.homework__container{
    padding: 2.08%;
}

.homework__title,
.homework__subtitle{
    text-align: center;
    font-size: 25px;
    color:rgb(98, 98, 159);
    letter-spacing:2px ;
}

.homework__subtitle{
    transition: color 0.5s ease, text-shadow 0.5s ease;
    margin-block-end: 50px; 
}


/*----------Дз ----------*/
.portfolio{
    margin-inline: auto;
    color: #FFFFFF;
}

.portfolio__work{
    padding-block-start: 92px; /*7.66%*/
    padding-block-end: 117px; /*9.75%*/
}

.work__container {
    text-align: center;
}

/* 
 [class*="__container"] >*{
    margin-block-end: 2.66%;   
}  */

.subtitle{
    color: #EF6D58;
    line-height: 2.0; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;  
    margin-block-end: 20px; /*1.6666%*/
}

.title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1px;
    margin-block-end: 36px; /*3%*/
    text-transform: capitalize;
    margin-inline: auto;
    max-inline-size: 531px;
}

.list{
    display: flex;
    margin-inline:auto;
    gap:51px;
    row-gap:20px; /*на всяк випадок*/
    justify-content: center;
    flex-wrap: wrap;
    margin-block-end: 68px; /*5.66%*/
}

.list__portfolio{
    display: flex;
    color:rgba(255, 255, 255, 0.64);
    line-height: 2;
    text-transform: capitalize;
}

.list .list__portfolio:hover{
    color:#ffffff;
    transition:color 0.3s ease;
}



.list__portfolio sup{
    font-size: 14px;
    line-height: 1.71;
    margin-block-start: -8px;
}

.list__portfolio:hover sup {
    color:rgba(255, 255, 255, 0.64);
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    row-gap: 32px;
    margin-block-end: 64px; /*5.33%*/
}

.card__box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 470px;
    min-height: 416px;
    border-radius: 6px;
    overflow: hidden;
    align-items: flex-end;
}

.card__box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 6px;
    opacity: 0.3181;
    background-color: #5C2000;
    transition: background-color 0.5s ease;  
}

.card__box:nth-child(4n+2),
.card__box:nth-child(4n+3){
    flex-basis: 670px;
} 

.card__box:hover .card__images{
    /* background-color: transparent; */
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.card__box:hover::after{
    background-color: transparent;
    transition: all 0.5s ease;
}

.content-card{
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 51px 48px;
    z-index: 10;
}

.content-card__button {
    min-inline-size: 17.9%;
    background-color: #FFFFFF;
    border-radius: 19px;
    margin-block-end: 23px; /*4.89%*/
    flex-shrink: 0;
    inline-size: fit-content;
    padding-inline:16px 15px;
    padding-block: 5px 1px;
    line-height: 2; /* 200% */
    color: #391400;
    transition: background-color 0.5s ease;
}

.content-card__button:hover{
    background-color: #EF6D58;
    color:#FFFFFF;
}

.content-card__button:active{
    background-color: #391400;
    color:#FFFFFF;
}

.content-card__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    transition: text-shadow 0.5s ease;
}

.content-card__title:hover{
    text-shadow: 1px 1px 3px #EF6D58;
    transition: text-shadow 0.5s ease;
}

.card__images {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 6px;
    transition: all 0.5s ease;
}

.button{
    inline-size: fit-content;
    padding-block: 18px 16px;
    padding-inline: 31px 30px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.button:hover{
    background-color: #B550F8;
    border: 1px solid transparent;
    transition: background-color 0.5s ease;
}

.portfolio__contact{
    padding-block: 75px 70px;
}

.contact__container{
    background-color: #FDF0E9;
    padding-block: 92px 64px;
    padding-inline: 100px;
    border-radius: 6px;
    justify-content: flex-start;
    text-align:left;
    position: relative;
}

.contact__content{
    max-inline-size: 248px;
}

.contact__subtitle{
    margin-block-end: 13px;
}

.contact__text-title{
    color:#391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    margin-block-end: 23px;
    text-transform: capitalize;
}

.button--red{
    background-color: #EF6D58;
    margin-block-end: 0;
}

.button--red:hover{
    background-color: #FFFFFF;
    color: #391400;
    box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
}

.contact__images{
    position: absolute;
}

.img-gift{
    top:0;
    margin-block-start: -75px;
}

.img-mail{
    top:80px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
    border-radius:6px;
    max-inline-size: 338px;
    flex-shrink: 0;
    position: absolute;
    z-index: 10;
}

.contact__mails::before{
    content:"";
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translate(-50%, 0);
    inline-size:274px;
    block-size: 176px;
    box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
    background-color: #ffffff;
    border-radius:6px;
    z-index: 1;    
}

.contact__mails::after{
    content:"";
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translate(-50%, 0);
    inline-size:306px;
    block-size: 176px;
    box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
    background-color: #ffffff;
    border-radius:6px;
    z-index: 2;    
}

.contact__woman::before{
    content:url("../img/images_content/cloud.svg");
    position: absolute;
    top: 47px;
    right: 96px;    
    inline-size: 282px;
}

.img-woman{
    bottom:0;
    right: 83px;
    max-inline-size: 239px;
}

.portfolio__calendar {
    padding-block: 70px;
}

.calendar__container {
    text-align: center;
}

.calendar__title {
    margin-block-end:64px; /* 5.33%*/
}

.list-calendar {
    gap:30px;
    display: flex;
    flex-wrap: wrap;   
    margin-block-end: 64px; 
    text-align: left;
}

.items {
    padding-block: 36px;
    padding-inline: 40px;
    display: flex;
    flex-basis: 370px;
    border-radius:6px;
    border: 1px solid #3A3C56;
    flex-direction: column;
    position: relative;
}

.term{
    padding-block-end: 36px;
    border-bottom: 1px solid #3A3C56;
    margin-block-end: 40px;
    max-inline-size: 290px;
}

.part{
    gap:12px;
    display: flex;
    align-items: center;
    margin-block-end: 19px;
}

.part__day{
    /* color: #FFF; */
    font-size: 72px;
    font-weight: 800;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -2px;
}

.schedule,
.items__title,
.item-team__name{
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    text-align: left;
}

.term__time{
    justify-items: center;
    text-align: left;
    align-items: center;
    line-height: 2.0; /* 200% */

}

.term__time::before{
    content: "";
    background: url("../img/images_content/clock.svg") 0 0 / 100% no-repeat;
    margin-inline-end:8px;
    align-items: center;
    block-size: 16px;    
    inline-size: 16px;
    flex-shrink: 0;
}

.items__title{
    margin-block-end:19px /* 1.583;*/;
    text-transform: capitalize;
}

.items p{
    color: rgba(255, 255, 255, 0.64);
    line-height: 2.0; /* 200% */
    flex-grow: 1;
    margin-block-end: 26px;
}

.items__link{
    line-height: 2.0; /* 200% */
    transition: color 0.5s ease;
}

.items__link:hover{
    color:  #EF6D58;
    transition: color 0.5s ease;
}


.items__link:active{
    color: #B550F8;
    transition: color 0.5s ease;
}

.portfolio__team {
    padding-block: 70px 90px;
}

.team__container {
    text-align: left;
}

.team__subtitle {
    margin-block-end: 20px;
}

.up {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
    margin-block-end: 64px;
    align-items: flex-end;
    gap:100px;
}

.up__title {
    margin: 0;
}

.arrow {
    gap:16px;
    display: flex;
}

.arrow__box {
    inline-size: 48px;
    height: 48px;
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s ease-in;
}

.lt {
    gap:30px;
    display: flex;
    margin-block-end: 52px;
    flex-wrap: wrap;
}

.item-team {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 270px;
    /* max-width: 270px; */
    inline-size: 100%;
    block-size: 100%;
}

.item-team__box-img {
    display: flex;
    justify-content: center;
    inline-size: 270px;
    block-size: 270px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    margin-block-end: 25px;
    align-items: flex-end;
    /* overflow: clip; */
    position: relative;
}

.items::before,
.item-team__box-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    border: 3px solid transparent; 
    box-sizing: border-box;
    pointer-events: none;
    border-image: linear-gradient(90deg, transparent, #EF6D58, transparent) 1;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.items:hover::before,
.item-team__box-img:hover::before {
    opacity: 1; 
    animation: glow 2s linear infinite;
}


.item-team__images {
    max-inline-size: 270px;
    max-block-size: 247px;
}

.item-team__profession {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2.0; /* 200% */
}

.circles{
    display: flex;
    gap:20px;
    justify-content: center;

}


.circles__item {
    inline-size: 12px;
    block-size: 12px;
    border-radius: 50%;
    border: 1px solid #4E4F6E;
    position: relative;
    transition: background-color 0.3s ease-in;
}

.arrow__box:hover,
.arrow__box:active,
.circles__item:hover,
.circles__item:active{
    background-color: #EF6D58; 
    border-color: transparent;
    transition: background-color 0.5s ease-out;
}

.arrow__box:active,
.circles__item:active{
    background-color: #5C2000;
}

.portfolio__founder {
    padding-block: 90px 176px;
}

.content-founder {
    display: flex;
    justify-content: space-between;
    gap:130px;
    flex-wrap:nowrap;   
}

    .content-founder__left-side {
    background: url("../img/images_content/bc_founder.png") 0 0 / cover no-repeat; 
    display: flex;
    justify-content: center;
    inline-size: 570px;
    block-size: 448px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    align-items: flex-end;
    overflow: clip;        
    }

.content-founder__img{
    max-inline-size: 477px;
    transition: all 0.5s ease;
}

.content-founder__img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;   
}

.content-founder__right-side {
    display: flex;
    flex-direction: column;
    max-inline-size:470px ;
    justify-content: center;   
    background: url("../img/images_content/quotes.svg");
    background-repeat: no-repeat;
    background-position: right 46px top 53px;
    background-size: auto;
}

.subtitle--margin{
    margin-block-end: 33px;
}
    
.title--size{
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2; /* 120% */
    text-transform: none;
    letter-spacing:normal;
    text-transform: none;
    margin-block-end: 44px;
}

.content-founder__signature{        
    font-size: 20px;
    line-height: 1.6; /* 160% */
    text-decoration: none;
    font-style: normal;
    margin-block-end: 6px;
    text-transform: capitalize;
}

.content-founder__signature+p{
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    line-height: 1.71; /* 171.429% */
}



/* [class*="__container"]  >*:last-child{
    margin-block-end: 0;
}  */

/* ----------Footer---------- */
.footer{
    padding: 15px;
    text-align: center;
    background-color: #5D6970;
    
}

.footer a{
    color:#dddbec;
    font-size: 14px;
    text-transform: uppercase;
}
